.navbar {
  height: 13rem;
  display: grid;
  grid-template-areas: "icon";
  align-items: center;
  justify-items: center;

  &--main {
    @media only screen and (min-width: 95em) {
      grid-template-columns: 1fr 112rem 1fr;
      grid-template-areas: "icon . .";
      justify-items: end;
      column-gap: 8rem;
    }
  }

  &__icon {
    width: 8.5rem;
    height: inherit;
  }

  &__icon-container {
    height: inherit;
    grid-area: icon / icon;
  }

  &--secondary {
    position: relative;
    z-index: 10;
    height: 13rem;

    position: relative;
    border-bottom: solid 1px rgba($color-grey-dark, .6);

    @include background;

    @include respond(tab-land){
      padding: 0 5rem;
      height: 10rem;
      grid-template-columns: max-content 1fr max-content;
      grid-template-areas: "navigation . icon" ;
    }

    @include respond(desktop) {
      padding: 0 10rem;
    }
  }

  &__navigation {
    grid-area: navigation / navigation;
    align-items: center;

    display: none;
    position: hidden;

    font-size: 2rem;
    font-weight: 300;

    @include respond(tab-land){
      display: flex;
      position: static;
    }

    * {
      margin-right: 1rem;
      animation: 1s ease-in-out fade-in-right backwards;
    }

    &--1 {
      color: $color-grey-dark;
    }

    svg {
      animation-delay: .2s;
      animation-duration: 1.2s;
    }

    &--2 {
      animation-delay: .8s;
    }
  }

  &__navigation-icon {
    width: 1.2rem;
    height: 2rem;
  }
}

.navigation {
  min-height: 45rem;
  height: 53vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: 
    ". item-1"
    ". item-2"
    ". item-3"
    ". item-4"
    ". item-5"
    ". item-6";
  align-content: center;

  @media only screen and (min-width: 31.25em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 41em) {
    height: 70vh;
  }

  @include respond(desktop) {
    grid-template-columns: 1fr 82rem 46rem 1fr;
    grid-template-areas: 
    ". . item-1 ."
    ". . item-2 ."
    ". . item-3 ."
    ". . item-4 ."
    ". . item-5 ."
    ". . item-6 .";

    @media only screen and (max-height: 39em) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      ". item-1"
      ". item-2"
      ". item-3"
      ". item-4"
      ". item-5"
      ". item-6";
    }
  }

  &__item {
    font-size: 2.4rem;
    font-weight: 500;
    position: relative;

    @media only screen and (min-width: 46em) {
      font-size: 4rem;
    }

    @media only screen and (max-height: 39em) {
      font-size: 2.4rem;
    }

    &:hover {
      &::before {
        width: 80rem;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 65.3%;
      right: calc(100% + .2rem);
      background-color: $color-white;
      width: .4rem;
      height: .4rem;
      border-radius: 100px;
      transition: .5s ease-in;

      @include respond(tab-land) {
        width: .5rem;
        height: .5rem;
      }

      @media only screen and (max-height: 39em) {
        width: .4rem;
        height: .4rem;
      }
    }

    &--1 {
      grid-area: item-1 / item-1;
    }

    &--2 {
      grid-area: item-2 / item-2;
    }

    &--3 {
      grid-area: item-3 / item-3;
    }

    &--4 {
      grid-area: item-4 / item-4;
    }

    &--5 {
      grid-area: item-5 / item-5;
    }

    &--6 {
      grid-area: item-6 / item-6;
    }
  }

  &__figure {
    position: absolute;

    &--box {
      z-index: -1;
      width: 45rem;
      height: 55vh;
      background-color: $color-primary-light;

      top: 14vh;
      left: 50%;

      transform: translateX(-35rem);

      @media only screen and (min-width: 41em) {
        width: 80vh;
        height: 70vh;

        transform: translateX(-63.7vh);
      }

      @include respond(desktop) {
        transform: translateX(-50%);
      }

      @media only screen and (max-height: 39em) {
        height: 47rem;
        width: 47rem;

        top: 8rem;
        transform: translateX(-39.7rem);
      }
    }

    &--cross {
      width: 3rem;
      height: 3rem;

      top: 50%;
      right: 60vw;

      @media only screen and (min-width: 32.5em) {
        right: 55vw;
      }

      @media only screen and (min-width: 64em) {
        left: 5rem;
      }

      @media only screen and (max-height: 39em) {
        left: 5rem;
      }
    }
  }
}