.pinned-articles {
  display: grid;
  justify-items: center;
  row-gap: 8rem;

  @include respond(desktop) {
    row-gap: 10rem;
    grid-template-columns: 1fr 1fr;
    width: 120rem;
    margin: 10rem auto 0;
  }
}