//COLORS:
$color-primary: #D73B30;
$color-primary-light: #E34E43;

$color-secondary: #EE8D03;

$color-tertiary: #1D2688;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #E5E5E5;

$color-grey-dark: #565656;
$color-grey-dark-2: #3E3E3E;
$color-grey-dark-3: #242424;
$color-grey-dark-4: #8E8E8E;
$color-grey-dark-5: #3D3D3D;
$color-grey-dark-6: #4F4F4F;

$color-white: #fff;
$color-black: #000;